<include file="Public/min-header" />
<div class="wrapper">
	<include file="Public/breadcrumb"/>
	<section class="content">
       <div class="row">
       		<div class="col-xs-12">
	       		<div class="box">
	             <div class="box-header">
	               	<nav class="navbar navbar-default">	     
				        <div class="collapse navbar-collapse">
				          <form class="navbar-form form-inline" action="{:U('Store/store_list')}" method="post">
				           	<div class="form-group">
				            	<label class="control-label" for="input-order-id">
									<span class="chn">所属等级</span>
									<span class="eng">Subordinate grade</span>
								</label>
				            	 <select name="grade_id" class="form-control">
                                      <volist name="store_grade" id="item" key="k">
                                            <option value="{$k}" <if condition="$pid eq $k">selected</if>>{$item}</option>
                                      </volist>                  
                                 </select>   
				            </div>
				           <div class="form-group">
				              	<input type="text" name="seller_name" class="form-control chn" placeholder="请输入店主名称">
				              	<input type="text" name="seller_name" class="form-control eng" placeholder="Please enter the storekeeper's name">
				            </div>
				            <div class="form-group">
				            	<label class="control-label" for="input-order-id">
									<span class="chn">店铺状态</span>
									<span class="eng">Store status</span>
								</label>
				            	 <select name="pid" class="form-control chn">
				            	 	   <option>选择状态</option>
									   <option value="1">开启</option>
				            	 	   <option value="2">关闭</option>
                                       <option value="3">即将到期</option>
                                       <option value="4">已到期</option>
                                 </select>   
								 <select name="pid" class="form-control eng">
				            	 	   <option>Select state</option>
									   <option value="1">Open</option>
				            	 	   <option value="2">Close</option>
                                       <option value="3">Expiring</option>
                                       <option value="4">Expired</option>
                                 </select>
				            </div>
				           	<div class="form-group">
				            	<label class="control-label" for="input-order-id">
									<span class="chn">店铺类别</span>
									<span class="eng">Store category</span>
								</label>
				            	 <select name="sc_id" class="form-control">
                                      <volist name="store_class" id="item" key="k">
                                          <option value="{$k}">{$item}</option>
                                      </volist>                  
                                 </select>   
				            </div>
				            <div class="form-group">
				              	<input type="text" name="store_name" class="form-control chn" placeholder="请输店铺名称">
				              	<input type="text" name="store_name" class="form-control eng" placeholder="Please enter the store name">
				            </div>
				            <button type="submit" class="btn btn-primary">
								<span class="chn">查询</span>
								<span class="eng">Search</span>
							</button>
				            <div class="form-group pull-right">
					            <a href="{:U('Store/store_add')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> 
									<span class="chn">新增店铺</span>
									<span class="eng">Add store</span>
								</a>
				            </div>		          
				          </form>
				      	</div>
	    			</nav>
	    			<nav class="navbar navbar-default">	                          	
	    			   <div class="callout callout-inro chn">
							<p>1. 平台在此处统一管理自营店铺，可以新增、编辑、删除平台自营店铺。</p>
					        <p>2. 可以设置未绑定全部商品类目的平台自营店铺的经营类目。</p>
					        <p>3. 已经发布商品的自营店铺不能被删除。</p>
					        <p>4. 删除平台自营店铺将会同时删除店铺的相关图片以及相关商家中心账户，请谨慎操作！</p>
				        </div>
						<div class="callout callout-inro eng">
							<p>1. Unified management of the platform in the self shop, you can add, edit, delete the platform proprietary stores.</p>
					        <p>2. Can not set up a full range of merchandise categories of the platform of the operation of the shop.</p>
					        <p>3. Proprietary stores that have been released can not be deleted.</p>
					        <p>4. Delete the platform will be deleted at the same time store stores and related businesses related to the center of the account, please be careful!</p>
				        </div>
					</nav>	    			
	             </div>
	             <div class="box-body">
	           	 <div class="row">
	            	<div class="col-sm-12">
		              <table id="list-table" class="table table-bordered table-striped dataTable">
		                 <thead>
		                   <tr role="row">
                               <th><span class="chn">店铺名称</span><span class="eng">Store name</span></th>
                               <th><span class="chn">店主账号</span><span class="eng">Storekeeper account</span></th>
			                   <th><span class="chn">店主卖家账号</span><span class="eng">Seller account</span></th>
                               <th><span class="chn">创建日期</span><span class="eng">Creation date</span></th>
			                   <th><span class="chn">状态</span><span class="eng">State</span></th>
		                  	   <th><span class="chn">绑定所有类目</span><span class="eng">Bind all categories</span></th>
		                  	   <th><span class="chn">操作</span><span class="eng">Edit</span></th>
		                   </tr>
		                 </thead>
						<tbody>
                          <foreach name="list" item="vo" key="k" >
                             <tr role="row">    
                             <td>{$vo.store_name}</td>
                             <td>{$vo.user_name}</td>
		                     <td>{$vo.seller_name}</td>                                    
		                     <td>{$vo.store_time|date='Y-m-d',###}</td>
		                     <td class="chn"><if condition="$vo[store_state] eq 1">开启<else/>关闭</if></td>
		                     <td class="eng"><if condition="$vo[store_state] eq 1">Open<else/>Close</if></td>
		                     <td class="chn"><if condition="$vo[bind_all_gc] eq 1">是<else/>否</if></td>
		                     <td class="eng"><if condition="$vo[bind_all_gc] eq 1">Yes<else/>No</if></td>
		                     <td>
		                      <a class="btn btn-primary" href="{:U('Store/store_edit',array('store_id'=>$vo['store_id']))}"><i class="fa fa-pencil"></i></a>
		                      <a class="btn btn-danger" onclick="delfunc(this)" data-url="{:U('Store/store_del')}" data-id="{$vo.store_id}"><i class="fa fa-trash-o"></i></a>
				     		</td>
		                   </tr>
		                  </foreach>
		                   </tbody>
		                 <tfoot>
		                 
		                 </tfoot>
		               </table>
	               </div>
	          </div>
              <div class="row">
              	    <div class="col-sm-6 text-left">
              	    	<button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
              	    </div>
                    <div class="col-sm-6 text-right">{$page}</div>		
              </div>
	          </div>
	        </div>
       	</div>
       </div>
   </section>
<script>

</script>
</div>
</body>
</html>