<include file="Public/min-header"/>
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title chn"><i class="fa fa-list"></i>退货单列表</h3>
                    <h3 class="panel-title eng"><i class="fa fa-list"></i>Return list</h3>
                </div>
                <div class="panel-body">
                    <div class="navbar navbar-default">
                            <form action="{:U('Admin/order/export_return_order')}" id="search-form2" class="navbar-form form-inline" method="post">
				                <div class="form-group">
                                  <label class="control-label" for="input-order-id">
									<span class="chn">状态</span>
									<span class="eng">State</span>
								  </label>
                                  <select class="form-control" id="status" name="status">
                                    <option value="0">未处理/Untreated</option>
                                    <option value="1">处理中/In treatment</option>
                                    <option value="2">已完成/Complete</option>                                    
                                   </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="input-order-id">
										<span class="chn">订单编号</span>
										<span class="eng">Order number</span>
									</label>
                                    <div class="input-group">
                                        <input type="text" name="order_sn" value="" placeholder="订单 编号" id="input-order-id" class="form-control">
                                        <!--<span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>-->
                                    </div>
                                </div>


                                <div class="form-group">
                                    <a href="javascript:void(0)" onclick="ajax_get_table('search-form2',1)" id="button-filter search-order" class="btn btn-primary"><i class="fa fa-search"></i>
                                        <span class="chn">筛选</span>
                                        <span class="eng">Screen</span>
                                    </a>
                                </div>
                                <input type="hidden" name="order_by" value="id" />
                                <input type="hidden" name="sort"  value="asc"/>
                                <button type="submit" class="btn btn-default pull-right"><i class="fa fa-file-excel-o"></i>&nbsp;
                                    <span class="chn">导出excel</span>
                                    <span class="eng">Export Excel</span>
                                </button>
                            </form>
                    </div>
                    <div id="ajax_return">

                    </div>
 
                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
    $(document).ready(function(){
        ajax_get_table('search-form2',1);

    });
    // ajax 抓取页面
    function ajax_get_table(tab,page){
        cur_page = page; //当前页面 保存为全局变量
            $.ajax({
                type : "POST",
                url:"/index.php/Admin/order/ajax_return_list/p/"+page,//+tab,
                data : $('#'+tab).serialize(),// 你的formid
                success: function(data){
                    $("#ajax_return").html('');
                    $("#ajax_return").append(data);
                }
            });
    }

    // 点击排序
    function sort_list(field)
    {
        $("input[name='order_by']").val(field);
        var v = $("input[name='sort']").val() == 'desc' ? 'asc' : 'desc';
        $("input[name='sort']").val(v);
        ajax_get_table('search-form2',cur_page);
    }
</script>
</body>
</html>