<include file="public/layout" />
<style>
    .ncm-goods-gift {
        text-align: left;
    }
    .ncm-goods-gift ul {
        display: inline-block;
        font-size: 0;
        vertical-align: middle;
    }
    .ncm-goods-gift li {
        display: inline-block;
        letter-spacing: normal;
        margin-right: 4px;
        vertical-align: top;
        word-spacing: normal;
    }
    .ncm-goods-gift li a {
        background-color: #fff;
        display: table-cell;
        height: 30px;
        line-height: 0;
        overflow: hidden;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }
    .ncm-goods-gift li a img {
        max-height: 30px;
        max-width: 30px;
    }

    a.green{

        background: #fff none repeat scroll 0 0;
        border: 1px solid #f5f5f5;
        border-radius: 4px;
        color: #999;
        cursor: pointer !important;
        display: inline-block;
        font-size: 12px;
        font-weight: normal;
        height: 20px;
        letter-spacing: normal;
        line-height: 20px;
        margin: 0 5px 0 0;
        padding: 1px 6px;
        vertical-align: top;
    }

    a.green:hover { color: #FFF; background-color: #1BBC9D; border-color: #16A086; }

    .ncap-order-style .ncap-order-details{
        margin:20px auto;
    }
    .contact-info h3,.contact-info .form_class{
        display: inline-block;
        vertical-align: middle;
    }
    .form_class i.fa{
        vertical-align: text-bottom;
    }
</style>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.go(-1)" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>商品订单</h3>
                <h5>商城实物商品交易订单查询及管理</h5>
            </div>
            <!--<div class="subject" style="width:62%">-->
                <!--<if condition="$order['order_status'] lt 2">-->
                    <!--<a href="{:U('Seller/order/edit_order',array('order_id'=>$order['order_id']))}" style="float:right;margin-right:10px" class="ncap-btn-big ncap-btn-green" ><i class="fa fa-pencil-square-o"></i>修改订单</a>-->
                <!--</if>-->
                <!--<if condition="($split eq 1) and ($order['order_status'] lt 2)">-->
                    <!--<a href="{:U('Seller/order/split_order',array('order_id'=>$order['order_id']))}" style="float:right;margin-right:10px" class="ncap-btn-big ncap-btn-green" ><i class="fa fa-external-link-square"></i>拆分订单</a>-->
                <!--</if>-->
                <!--<a href="{:U('Order/order_print',array('order_id'=>$order['order_id']))}" target="_blank" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="打印订单">-->
                    <!--<a href="{:U('Order/order_print',array('order_id'=>$order['order_id']))}" style="float:right;margin-right:10px" class="ncap-btn-big ncap-btn-green" ><i class="fa fa-print"></i>打印订单</a>-->
                <!--</a>-->
            <!--</div>-->
        </div>

    </div>
    <div class="ncap-order-style">
        <div class="titile">
            <h3></h3>
        </div>

        <div class="ncap-order-details">
            <form id="order-action" method="post" action="{:U('Seller/Order/add_note')}">
                <div class="tabs-panels">
                    <div class="misc-info">
                        <h3>基本信息</h3>
                        <dl>
                            <dt>订单 ID：</dt>
                            <dd>{$order.order_id}</dd>
                            <dt>订单号：</dt>
                            <dd>{$order.order_sn}</dd>
                            <dt>会员wh_id：</dt>
                            <dd>{$order.wh_id}</dd>
                        </dl>
                        <dl>
                            <dt>E-Mail：</dt>
                            <dd>{$order.email}</dd>
                            <dt>电话：</dt>
                            <dd>{$order.receiver_phone}</dd>
                            <dt>应付金额：</dt>
                            <dd>{$order.money}</dd>
                        </dl>
                        <dl>
                            <dt>订单状态：</dt>
                            <dd>{$order_status[$order[state]]} / {$pay_status[$order[pay_status]]}

                                <if condition="$order['pay_code'] eq 'cod'"><span style="color: red">(货到付款)</span></if>
                                / {$shipping_status[$order[delivery_status]]}
                                <if condition="$return_goods neq ''">
                                    /已申请退换货
                                </if>
                            <dt>下单时间：</dt>
                            <dd>{$order.order_date|date='Y-m-d H:i',###}</dd>
                            <dt>支付时间：</dt>
                            <dd>
                                <if condition="$order[pay_status] eq 2">{$order.pay_date|date='Y-m-d H:i',###}
                                    <else/>
                                    N
                                </if>
                            </dd>
                        </dl>
                        <dl>
                            <dt>支付方式：</dt>
                            <dd>{$order.pay_name|default='其他方式'}</dd>
                            <if condition="$order[delivery_status] neq 1">
                                <dt>发货时间：</dt>
                                <dd>{$order.shipping_date|date='Y-m-d H:i',###}</dd>
                                <dt>发货单号：</dt>
                                <dd>{$order.delivery_sn}    <a onclick="kd100cx('{$order.invoice_no}')">查询物流</a> </dd>
                            </if>
                        </dl>
                    </div>

                    <div class="addr-note">
                        <h4>收货信息</h4>
                        <dl>
                            <dt>收货人：</dt>
                            <dd>{$order.receiver}</dd>
                            <dt>联系方式：</dt>
                            <dd>{$order.receiver_phone}</dd>
                        </dl>
                        <dl>
                            <dt>收货地址：</dt>
                            <dd>{$order.address_info}  {$order.receiver_address}</dd>
                        </dl>
                        <!--<dl>-->
                            <!--<dt>邮编：</dt>-->
                            <!--<dd><if condition="$order.zipcode neq ''"> {$order.zipcode}<else/>N</if></dd>-->
                        <!--</dl>-->
                        <!--<dl>-->
                            <!--<dt>配送方式：</dt>-->
                            <!--<dd>{$order.delivery_status}</dd>-->
                        <!--</dl>-->
                        <dl>
                            <dt>留言：</dt>
                            <dd>{$order.buyer_message|default=''}</dd>
                        </dl>
                    </div>


                    <div class="goods-info">
                        <h4>订单商品信息</h4>
                        <table>
                            <thead>
                            <tr>
                                <th >商品编号</th>
                                <th colspan="2">商品</th>
                                <th>规格属性</th>
                                <th>数量</th>
                                <th>单品价格</th>
                                <th>会员折扣价</th>
                                <th>单品小计</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="orderGoods" id="good">
                                <tr>
                                    <td class="w60">{$good.item_id}</td>
                                    <td class="w30"><div class="goods-thumb"><a href="{:U('Home/Goods/goodsInfo',array('id'=>$good['item_id']))}" target="_blank"><img alt="" src="{$good.thumb_image_url}" /> </a></div></td>
                                    <td style="text-align: left;"><a href="{:U('Home/Goods/goodsInfo',array('id'=>$good['item_id']))}" target="_blank">{$good.name}</a><br/></td>
                                    <td class="w80">{$good.sku_name}</td>
                                    <td class="w60">{$good.amount}</td>
                                    <td class="w100">{$good.price}</td>
                                    <td class="w60">{$good.price}</td>
                                    <td class="w80">{$total=$good.amount*$good.price}</td>
                                    <?php
                    $total+=$total_cost;
                ?>
                                </tr>
                            </volist>
                        </table>
                        <if condition="$return_goods neq ''">
                            <h4>退换货商品信息</h4>
                            <table>
                                <thead>
                                <tr>
                                    <th >商品编号</th>
                                    <th colspan="2">商品</th>
                                    <th>类型</th>
                                    <th>规格属性</th>
                                    <th>数量</th>
                                    <th>单品价格</th>
                                    <th>会员折扣价</th>
                                    <th>单品小计</th>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="return_goods" id="good">
                                    <tr>
                                        <td class="w60">{$good.item_id}</td>
                                        <td class="w30"><div class="goods-thumb"><a href="{:U('Home/Goods/goodsInfo',array('id'=>$good['item_id']))}" target="_blank"><img alt="" src="{$good.thumb_image_url}" /> </a></div></td>
                                        <td style="text-align: left;"><a href="{:U('Home/Goods/goodsInfo',array('id'=>$good['item_id']))}" target="_blank">{$good.name}</a><br/></td>
                                        <td class="w60">
                                            <if condition="$good['return'] eq 2">
                                                退货
                                            </if>
                                            <if condition="$good['return'] eq 3">
                                                换货
                                            </if>
                                        </td>
                                        <td class="w80">{$good.sku_name}</td>
                                        <td class="w60">{$good.amount}</td>
                                        <td class="w100">{$good.price}</td>
                                        <td class="w60">{$good.price}</td>
                                        <td class="w80">{$total=$good.amount*$good.price}</td>
                                        <?php
                    $total+=$total_cost;
                ?>
                                    </tr>
                                </volist>
                            </table>
                        </if>

                    </div>
                    <div class="total-amount contact-info">
                        <h3>订单总额：￥{$order.money}</h3>
                    </div>
                    <div class="contact-info">
                        <h3>费用信息 </h3>
                        <if condition="$order[pay_status] eq 1">
                            <div class="form_class">
                                <a class="btn green" href="{:U('Seller/Order/editprice',array('order_id'=>$order['order_id']))}"><i class="fa fa-pencil-square-o"></i>修改费用</a>
                            </div>
                        </if>

                        <dl>
                            <dt>小计：</dt>
                            <dd>{$order.money}</dd>
                            <dt>运费：</dt>
                            <dd>+{$order.shipping_price}</dd>
                            <dt>积分 (-{$order.integral})：</dt>
                            <dd>-{$order.integral_money}</dd>
                        </dl>
                        <dl>
                            <dt>余额抵扣：</dt>
                            <dd>-{$order.user_money}</dd>
                            <dt>优惠券抵扣：</dt>
                            <dd>-{$order.coupon_price}</dd>
                            <dt>价格调整：</dt>
                            <dd>减：{$order.discount}</dd>
                        </dl>
                        <dl>
                            <dt>应付：</dt>
                            <dd><strong class="red_common">{$order.money}</strong></dd>
                        </dl>
                    </div>
                    <div class="contact-info">
                        <h3>操作信息</h3>
                        <dl class="row">
                            <dt class="tit">
                                <label for="note">操作备注</label>
                            </dt>
                            <dd class="opt" style="margin-left:10px">
                                <textarea id="note" name="note" style="width:600px" rows="6"  placeholder="请输入操作备注" class="tarea"></textarea>
                            </dd>
                            <input type="hidden" name="order_id" value="{$order.order_id}">
                        </dl>
                        <dl class="row">
                            <dt class="tit">
                                <label for="note">可执行操作</label>
                            </dt>
                            <dd class="opt" style="margin-left:10px">

                                <a class="ncap-btn-big ncap-btn-green" onclick="add_note()">添加备注</a>
                                <if condition="$order.state neq 5">
                                <a class="ncap-btn-big ncap-btn-green" href="{:U('Seller/Order/order_action',array('order_id'=>$order['order_id'],'type'=>'invalid'))}" >
                                    作废</a>
                                </if>
                                <if condition="$order.state eq 1 and $order.pay_status eq 2">


                                    <a class="ncap-btn-big ncap-btn-green" href="{:U('Seller/Order/order_action',array('order_id'=>$order['order_id'],'type'=>'confirm'))}" >
                                        确认</a>
                                </if>
                                <if condition="($order.state eq 2) and ($order.delivery_status eq 1)">
                                    <a class="ncap-btn-big ncap-btn-green" href="{:U('Order/delivery_info',array('order_id'=>$order['order_id']))}">去发货</a>
                                </if>


                                <if condition="$order.state eq 3">
                                    <a class="ncap-btn-big ncap-btn-green" href="javascript:void(0)" >已取消</a>
                                </if>
                                <if condition="$order.state eq 5">
                                    <a class="ncap-btn-big ncap-btn-green" href="javascript:void(0)" >已作废</a>
                                </if>
                            </dd>







                        </dl>
                    </div>
                    <div class="goods-info">
                        <h4>订单备注</h4>
                        <table>
                            <thead>
                            <tr>
                                <th>备注内容</th>
                                <th>添加时间</th>
                                <th>操作人</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="note" key="aid" id="log">
                                <tr>
                                    <td class="text-center">{$log.note}</td>
                                    <td class="text-center">{$log.add_time|date='Y-m-d H:i:s',###}</td>
                                    <td class="text-center">{$log.user_name|default="平台备注"}</td>
                                </tr>
                            </volist>
                        </table>
                    </div>
                    <div class="goods-info">
                        <h4>操作记录</h4>
                        <table>
                            <thead>
                            <tr>
                                <th>操作者</th>
                                <th>操作时间</th>
                                <th>订单状态</th>
                                <th>付款状态</th>
                                <th>发货状态</th>
                                <th>描述</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="action_log" key="aid" id="log">
                                <tr>
                                    <td class="text-center"><if condition="$log.action_user neq 0">管理员：{$admins[$aid]}<else/>用户：{$user[nickname]}</if></td>
                                    <td class="text-center">{$log.log_time|date='Y-m-d H:i:s',###}</td>
                                    <td class="text-center">{$order_status[$log[order_status]]}</td>
                                    <td class="text-center">{$pay_status[$log[pay_status]]}<if condition="$order['pay_code'] eq 'code'"><span style="color: red">(货到付款)</span></if></td>
                                    <td class="text-center">{$shipping_status[$log[shipping_status]]}</td>
                                    <td class="text-center">{$log.status_desc}</td>
                                    <td class="text-center">{$log.action_note}</td>
                                </tr>
                            </volist>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">


    function delfun() {
        // 删除按钮
        layer.confirm('确认删除？', {
            btn: ['确定'] //按钮
        }, function () {
            console.log("确定");
        }, function () {
            console.log("取消");
        });
    }
    function add_note(){
        var note = document.getElementById('note').value;
        if(note){
            document.getElementById('order-action').submit();
        }else{
           alert("请填写备注");
        }

    }

    //快递100查询返回查询信息

    function kd100cx(nu){
        var url = "/index.php?m=Home&c=Api&a=kuaidicx&nu="+nu;
        layer.open({
            type: 2,
            title:'快递信息',
            // offset: type ,//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
            //id: 'LAY_demo'+type,//防止重复弹出
            content:url,
            area: ['500px', '500px'],
            btn: '关闭全部',
            btnAlign: 'c', //按钮居中
            shade: 0, //不显示遮罩
            yes: function(){
                layer.closeAll();
            }
        });
    }


</script>
</body>