<include file="Public/min-header"/>
<div class="wrapper">
  <include file="Public/breadcrumb"/>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title chn"><i class="fa fa-list"></i> 用户列表</h3>
                    <h3 class="panel-title eng"><i class="fa fa-list"></i> User list</h3>
                </div>
                <div class="panel-body">
                    <div class="navbar navbar-default">
                            <form action="" id="search-form2" class="navbar-form form-inline" method="post">
                                <div class="form-group">
                                    <label class="control-label" for="input-uid">
										<span class="chn">会员账号</span>
										<span class="eng">Member account</span>
									</label>
                                    <div class="input-group">
                                        <input type="text" name="user_name" value="" placeholder="" id="input-uid" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="input-mobile">
										<span class="chn">密码</span>
										<span class="eng">Mobile</span>
									</label>
                                    <div class="input-group">
                                        <input type="password" name="password" value="" placeholder="" id="input-password" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="input-mobile">
                                        <span class="chn">重复密码</span>
                                        <span class="eng">Mobile</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="password" name="repassword" value="" placeholder="" id="input-repassword" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="input-group">
                                        <input type="button" value="提交" onclick="sub()">
                                    </div>
                                </div>
                            </form>
                    </div>
                    <div id="ajax_return">

                    </div>
                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script>
function sub(){
    var user_name = $("#input-uid").val();
    var password = $("#input-password").val();
    var repassword = $("#input-repassword").val();
    if(user_name&&password&&repassword){
        $("#search-form2").submit();
    }else{
        alert("请填写完整");
    }
}




</script>
</body>
</html>