<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="__PUBLIC__/js/echarts.min.js" type="text/javascript"></script>
    <script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
    <!-- <script src="data/asset/data/data.json" type="text/javascript"></script> -->
    <!-- <div style="position: relative; overflow: hidden; width: 853px; height: 824px; padding: 0px; margin: 0px; border-width: 0px; cursor: default;"><canvas style="position: absolute; left: 0px; top: 0px; width: 853px; height: 824px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="853" height="824"></canvas></div>
    <canvas style="position: absolute; left: 0px; top: 0px; width: 853px; height: 824px; -moz-user-select: none; padding: 0px; margin: 0px; border-width: 0px;" data-zr-dom-id="zr_0" width="853" height="824"></canvas>
    <div style="position: absolute; display: none; border-style: solid; white-space: nowrap; z-index: 9999999; transition: left 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s, top 0.4s cubic-bezier(0.23, 1, 0.32, 1) 0s; background-color: rgba(50, 50, 50, 0.7); border-width: 0px; border-color: rgb(51, 51, 51); border-radius: 4px; color: rgb(255, 255, 255); font: 14px/21px Microsoft YaHei; padding: 5px; left: 590px; top: 687px;">flare.util.Sort : 6887</div> -->
</head>
<body>
    <div id="main" style="width: 1000px;height:650px;"></div>
    <script type="text/javascript">
     // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    $.get('__PUBLIC__/data.json', function (data) {
    var option = {
        tooltip: {
            trigger: 'item',
            triggerOn: 'mousemove'
        },
        series:[
            {
                type: 'tree',

                data: [data],

                left: '2%',
                right: '2%',
                top: '8%',
                bottom: '20%',

                symbol: 'emptyCircle',

                orient: 'vertical',

                expandAndCollapse: true,
                initialTreeDepth:2,
                label: {
                    normal: {
                        position: 'top',
                        rotate: 1,
                        verticalAlign: 'middle',
                        align: 'right',
                        fontSize: 12
                    }
                },

                leaves: {
                    label: {
                        normal: {
                            position: 'bottom',
                            rotate: -90,
                            verticalAlign: 'middle',
                            align: 'left'
                        }
                    }
                },

                animationDurationUpdate: 750
            }
        ]
    };
    myChart.setOption(option);
});
    </script>
    </body>
</html>
