<include file="Public/min-header"/>
<div class="wrapper">
    <include file="Public/breadcrumb"/>
    <section class="content">
        <!-- Main content -->
        <div class="container-fluid">
            <div class="pull-right">
                <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" data-original-title="返回"><i class="fa fa-reply"></i></a>
            </div>
            <div class="panel panel-default">           
                <div class="panel-body ">   
                   	<ul class="nav nav-tabs">
                        <foreach name="group_list" item="vo" key="k">
                     		<li <if condition="$k eq 'smtp'">class="active"</if>><a href="javascript:void(0)" data-url="{:U('System/index',array('inc_type'=>$k))}" data-toggle="tab" onclick="goset(this)">{$vo}</a></li>
                     	</foreach>                        
                    </ul>
                    <!--表单数据-->
                    <form method="post" id="handlepost" action="{:U('System/handle')}">                    
                        <!--通用信息-->
                    <div class="tab-content" style="padding:20px 0px;">                 	  
                        <div class="tab-pane active" id="tab_smtp">                           
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <td class="col-sm-2"><span class="chn">邮件发送服务器(SMTP)：</span><span class="eng">Mail server (SMTP):</span></td>
                                    <td class="col-sm-8">
                         				<input type="text" class="form-control" name="smtp_server" value="{$config.smtp_server}" >
                         				<p class="text-warning">
											<span class="chn">发送邮箱的smtp地址。如: smtp.gmail.com或smtp.qq.com</span>
											<span class="eng">Send email address smtp. Such as: smtp.gmail.com or smtp.qq.com</span>
										</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="chn">服务器(SMTP)端口：</span><span class="eng">Server (SMTP) port:</span></td>
                                    <td >
                                        <input type="text" class="form-control" name="smtp_port" value="{$config.smtp_port|default=25}" >
                                    	<p class="text-warning">
											<span class="chn">smtp的端口。默认为25。具体请参看各STMP服务商的设置说明 （如果使用Gmail，请将端口设为465）</span>
											<span class="eng">SMTP port. Defaults to 25. Please refer to the instructions of each STMP service provider (if using Gmail, please set the port to 465)</span>
										</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="chn">邮箱账号：</span><span class="eng">Email</span></td>
                                    <td >
                         				<input type="text" class="form-control" name="smtp_user" value="{$config.smtp_user}" >
                                    </td>
                                </tr>  
                            	<tr>
                                    <td><span class="chn">邮箱密码：</span><span class="eng">Email password:</span></td>
                                    <td >
                         				<input type="text" class="form-control" name="smtp_pwd" value="{$config.smtp_pwd}" >
										<p class="text-warning"> 
											<span class="chn">该密码请根据STMP服务商的设置说明填写，QQ邮箱此处填写授权码。</span>
											<span class="eng">The password should be in accordance with the instructions set by the STMP service provider to fill in, QQ mail here to fill out the authorization code.</span>
										</p>
                                    </td>
                                </tr>
								<tr>
									<td><span class="chn">注册启用邮箱：</span><span class="eng">Register enable mailbox:</span></td>
									<td>
										<input id="turnOn" type="radio" class="" name="regis_smtp_enable" <if condition="$config['regis_smtp_enable'] eq 1">checked</if> value="1" >是
										<input type="radio"  class="" name="regis_smtp_enable" <if condition="$config['regis_smtp_enable'] eq 0">checked</if> value="0" >否
									</td>
								</tr>
               					<tr>
                                    <td><span class="chn">测试收件邮箱：</span><span class="eng">Test mailbox:</span></td>
                                    <td >
                                    	<div class="col-xs-3" style="margin-left:-15px;"><input type="text" class="form-control" name="test_eamil" value="{$config.test_eamil}"></div>
                         				<div>
											<input type="button" value="测试发送" class="btn btn-info chn" onclick="sendEmail()">
											<input type="button" value="Test send" class="btn btn-info eng" onclick="sendEmail()">
											<span class="text-warning chn"> 首次请先保存配置再测试</span>
											<span class="text-warning eng"> For the first time, save the configuration and then test</span>
										</div>                         				
                                    </td>
                                </tr>    
                                </tbody> 
                                <tfoot>
                                	<tr>
                                	<td><input type="hidden" name="inc_type" value="{$inc_type}"></td>
                                	<td class="text-right">
										<input class="btn btn-primary chn" type="button" onclick="adsubmit()" value="保存">
										<input class="btn btn-primary eng" type="button" onclick="adsubmit()" value="Submit">
									</td>
								  </tr>
                                </tfoot>                               
                                </table>
                        </div>                           
                    </div>              
			    	</form><!--表单数据-->
                </div>
            </div>
        </div>
    </section>
</div>

<script>
var flag = true;
function adsubmit(){
	check_form();
	if(flag){
		$('#handlepost').submit();
	}
}

function check_form(){
	if($('input[name="smtp_server"]').val() == ''){
		alert('请填写邮件发送服务器地址<br>Please fill in the email address');
		flag = false;
		return;
	}
	if($('input[name="smtp_user"]').val() == '' || !checkEmail($('input[name="smtp_user"]').val())){
		alert('请填写正确的邮箱账号<br>Please fill in the correct email account');
		flag = false;
		return;
	}
	if($('input[name="smtp_pwd"]').val() == ''){
		alert('请填写发送邮箱密码<br>Please fill in the mailbox password');
		flag = false;
		return;
	}
}

$(document).ready(function(){
	get_province();
});

function goset(obj){
	window.location.href = $(obj).attr('data-url');
}

function sendEmail(){
	if($('input[name="test_eamil"]').val() == '' || !checkEmail($('input[name="test_eamil"]').val())){
		alert('请填写正确的测试邮箱账号<br>Please fill in the correct test email account');
		return;
	}else{
		$.ajax({
			type : "post",
			data : $('#handlepost').serialize(),
			dataType : 'json',
			url : "{:U('System/send_email')}",
			success : function(res){
				if(res==1){
					layer.msg('发送成功<br>Send successfully', {icon: 1});
				}else{
					layer.msg('发送失败<br>Send failure', {icon: 2,time: 2000});
				}
			}
		})
	}
}
</script>
</body>
</html>